USE [master]
GO
/****** Object:  Database [DbSV]    Script Date: 8/1/2022 11:20:55 PM ******/
CREATE DATABASE [DbSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SA\MSSQL\DATA\DbSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SA\MSSQL\DATA\DbSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbSV]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/1/2022 11:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 8/1/2022 11:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Code] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/1/2022 11:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Role] [int] NOT NULL,
	[DateOfBirth] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 8/1/2022 11:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[DateOfBirth] [nvarchar](max) NULL,
	[Role] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Lecturer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 8/1/2022 11:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[SlotId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Schedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 8/1/2022 11:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CourseId] [int] NOT NULL,
	[LecturerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Slot] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlotStudent]    Script Date: 8/1/2022 11:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlotStudent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SlotId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SlotStudent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 8/1/2022 11:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Role] [int] NOT NULL,
	[DateOfBirth] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentMark]    Script Date: 8/1/2022 11:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMark](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[PointStudy] [decimal](18, 2) NOT NULL,
	[PointGK] [decimal](18, 2) NOT NULL,
	[PointCK] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.StudentMark] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 8/1/2022 11:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([Id], [Name], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete], [Code]) VALUES (1, N'Lớp Tin Học', CAST(N'2022-07-29T11:58:58.753' AS DateTime), CAST(N'2022-07-29T11:58:58.753' AS DateTime), NULL, NULL, 1, 0, NULL)
INSERT [dbo].[Course] ([Id], [Name], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete], [Code]) VALUES (2, N'Lớp Kế Toán', CAST(N'2022-07-29T11:58:58.770' AS DateTime), CAST(N'2022-07-29T11:58:58.770' AS DateTime), NULL, NULL, 1, 0, NULL)
INSERT [dbo].[Course] ([Id], [Name], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete], [Code]) VALUES (3, N'Lớp Kinh Doanh', CAST(N'2022-07-29T11:58:58.770' AS DateTime), CAST(N'2022-07-29T11:58:58.770' AS DateTime), NULL, NULL, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [Code], [Name], [Address], [Gender], [Phone], [Role], [DateOfBirth], [Email], [Password], [Username], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (1, N'0001', N'Admin', NULL, 1, NULL, 0, NULL, N'admin@gmail.com', N'123456', NULL, CAST(N'2022-08-01T10:33:56.237' AS DateTime), CAST(N'2022-08-01T10:33:56.237' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Employee] ([Id], [Code], [Name], [Address], [Gender], [Phone], [Role], [DateOfBirth], [Email], [Password], [Username], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (2, N'0002', N'Giáo Viên A', NULL, 1, NULL, 2, NULL, N'giaovien2@gmail.com', N'123456', NULL, CAST(N'2022-07-29T11:58:58.730' AS DateTime), CAST(N'2022-07-29T11:58:58.730' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Employee] ([Id], [Code], [Name], [Address], [Gender], [Phone], [Role], [DateOfBirth], [Email], [Password], [Username], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (3, N'0003', N'Giáo Viên B', NULL, 1, NULL, 2, NULL, N'giaovien3@gmail.com', N'123456', NULL, CAST(N'2022-07-29T11:58:58.733' AS DateTime), CAST(N'2022-07-29T11:58:58.733' AS DateTime), NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Lecturer] ON 

INSERT [dbo].[Lecturer] ([Id], [Code], [Name], [Address], [Gender], [Phone], [DateOfBirth], [Role], [Email], [Password], [Username], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (1, N'0002', N'Giáo Viên A', NULL, 1, N'1213', NULL, 2, N'giaovien2@gmail.com', N'1', NULL, CAST(N'2022-08-01T10:33:56.533' AS DateTime), CAST(N'2022-08-01T10:39:16.393' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Lecturer] ([Id], [Code], [Name], [Address], [Gender], [Phone], [DateOfBirth], [Role], [Email], [Password], [Username], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (2, N'0003', N'Giáo Viên B', NULL, 1, NULL, NULL, 2, N'giaovien3@gmail.com', N'123456', NULL, CAST(N'2022-08-01T10:33:56.627' AS DateTime), CAST(N'2022-08-01T10:33:56.627' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Lecturer] ([Id], [Code], [Name], [Address], [Gender], [Phone], [DateOfBirth], [Role], [Email], [Password], [Username], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (3, N'0004', N'Giáo Viên C', NULL, 1, NULL, NULL, 2, N'giaovien4@gmail.com', N'123456', NULL, CAST(N'2022-08-01T10:33:56.630' AS DateTime), CAST(N'2022-08-01T10:33:56.630' AS DateTime), NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Lecturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([Id], [StudentId], [SlotId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (1, 1, 2, CAST(N'2022-08-01T10:38:18.907' AS DateTime), CAST(N'2022-08-01T10:38:18.907' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Schedule] ([Id], [StudentId], [SlotId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (2, 2, 2, CAST(N'2022-08-01T10:38:21.413' AS DateTime), CAST(N'2022-08-01T10:38:21.413' AS DateTime), NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Slot] ON 

INSERT [dbo].[Slot] ([Id], [Code], [StartDate], [EndDate], [SubjectId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete], [CourseId], [LecturerId]) VALUES (2, N'001', CAST(N'2022-08-05T00:00:00.000' AS DateTime), CAST(N'2022-08-31T00:00:00.000' AS DateTime), 1, CAST(N'2022-08-01T10:02:51.830' AS DateTime), CAST(N'2022-08-01T10:02:51.830' AS DateTime), NULL, NULL, 1, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Slot] OFF
GO
SET IDENTITY_INSERT [dbo].[SlotStudent] ON 

INSERT [dbo].[SlotStudent] ([Id], [StudentId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete], [SlotId]) VALUES (1, 8, CAST(N'2022-07-29T11:07:32.010' AS DateTime), CAST(N'2022-07-29T11:07:32.010' AS DateTime), NULL, NULL, 1, 0, 0)
INSERT [dbo].[SlotStudent] ([Id], [StudentId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete], [SlotId]) VALUES (2, 9, CAST(N'2022-07-29T11:07:35.547' AS DateTime), CAST(N'2022-07-29T11:07:35.547' AS DateTime), NULL, NULL, 1, 0, 0)
INSERT [dbo].[SlotStudent] ([Id], [StudentId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete], [SlotId]) VALUES (3, 8, CAST(N'2022-07-29T12:40:10.057' AS DateTime), CAST(N'2022-07-29T12:40:10.057' AS DateTime), NULL, NULL, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[SlotStudent] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [Code], [Name], [Address], [Gender], [Phone], [Role], [DateOfBirth], [Email], [Password], [Username], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (1, N'001', N'Sinh viên 001', N'1', 0, N'087654', 1, NULL, N'001@gmail.com', N'1', NULL, CAST(N'2022-08-01T07:40:02.837' AS DateTime), CAST(N'2022-08-01T07:40:02.837' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Student] ([Id], [Code], [Name], [Address], [Gender], [Phone], [Role], [DateOfBirth], [Email], [Password], [Username], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (2, N'006', N'Giảng viên 006', N'1', 0, N'0987654321', 1, NULL, N'006@gmail.com', N'1', NULL, CAST(N'2022-08-01T07:50:28.367' AS DateTime), CAST(N'2022-08-01T07:50:28.367' AS DateTime), NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentMark] ON 

INSERT [dbo].[StudentMark] ([Id], [StudentId], [CourseId], [SubjectId], [PointStudy], [PointGK], [PointCK], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (1, 1, 2, 1, CAST(1.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), CAST(N'2022-08-01T08:21:40.907' AS DateTime), CAST(N'2022-08-01T08:21:40.907' AS DateTime), NULL, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[StudentMark] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Name], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (1, N'Môn Toán', CAST(N'2022-07-28T05:13:47.910' AS DateTime), CAST(N'2022-07-28T05:13:47.910' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Subjects] ([Id], [Name], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (3, N'Môn Lý', CAST(N'2022-07-28T05:13:47.910' AS DateTime), CAST(N'2022-07-28T05:13:47.910' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Subjects] ([Id], [Name], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (4, N'Môn Hóa', CAST(N'2022-07-28T05:13:47.910' AS DateTime), CAST(N'2022-07-28T05:13:47.910' AS DateTime), NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
ALTER TABLE [dbo].[Slot] ADD  DEFAULT ((0)) FOR [CourseId]
GO
ALTER TABLE [dbo].[Slot] ADD  DEFAULT ((0)) FOR [LecturerId]
GO
ALTER TABLE [dbo].[SlotStudent] ADD  DEFAULT ((0)) FOR [SlotId]
GO
USE [master]
GO
