@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<SV.Models.SlotModels>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã Slot</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.Code</td>
                                    <td>@item.StartTime.ToString("dd/MM/yyyy hh: mm")</td>
                                    <td>@item.EndTime.ToString("dd/MM/yyyy hh: mm")</td>
                                    <td><a href="@Url.Action("DsStudent", "Schedule", new { slotId = item.Id })">Danh sách học sinh</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
